<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_plan.name %>
</p>

<p>
  <strong>Target:</strong>
  <%= @test_plan.target %>
</p>

<p>
  <strong>Username:</strong>
  <%= @test_plan.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @test_plan.password %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @test_plan.filepath %>
</p>

<%= link_to 'Edit', edit_test_plan_path(@test_plan) %> |
<%= link_to 'Back', test_plans_path %>
