
<p id="notice"><%= notice %></p>

<h1>Test Plans</h1>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Target</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_plans.each_with_index do |test_plan, index| %>
      <tr class="table-row" id=<%=test_plan.id %>>
        <th scope="row"><%= index+1 %></th>
        <td><%= test_plan.name %></td>
        <td><%= test_plan.target %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_test_plan_path(test_plan) %></td>
        <td><%= link_to 'Destroy', test_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Execute', { :action => "execute", :id => test_plan.id, :remote => true }, { class: 'execute-button' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Plan', new_test_plan_path %>

